@charset "UTF-8";

body{
    margin: 0px;
    padding: 0px;

}
html.bady{
    min-height: 100vh;
    background-color: rgba(169, 169, 169, 0.685);

}
header{
    background-color: black;
    color: white;
    text-align: center;


}
header > h1 {
    padding: top 50px; 
    font-variant: small-caps;

}
header > p{
    padding-bottom: 50px;

}
header a ,footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a :hover,footer a :hover {
    text-decoration :underline;
    color: black;

}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2cm;
    padding: 30px;
}
section.normal{
    background-color: white;
    color: black;
    
}
section.imagem{
    background-color: rgb(63, 56, 56);
    color: white;

}
section.imagem > p{
    width: 400px;
    background-color:rgba(67, 63, 63, 0.553) ;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

